<mat-toolbar>
  <span class="app-title">My App</span>
  <span class="spacer"></span>
  <button mat-button [routerLink]="['/']">ホームページ</button>
  <!-- <button mat-button [routerLink]="['/skills']">Skills</button> -->
  <div class="dropdown">
    <button mat-button class="dropbtn">勤务管理</button>
    <div class="dropdown-content">
      <a href="#">勤怠入力</a>
      <a href="#">勤怠検索</a>
    </div>
  </div>
  <div class="dropdown">
    <button mat-button class="dropbtn">社員管理</button>
    <div class="dropdown-content">
      <a href="#">情報入力</a>
      <a href="#">社員検索</a>
    </div>
  </div>
  <!-- <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
    <button mat-button  class="dropbtn">勤务管理</button>
    <div class="dropdown-content" *ngIf="showDropdown">
      <a href="#">勤怠入力</a>
      <a href="#">勤怠検索</a>
    </div>
  </div> -->
</mat-toolbar>
