mat-toolbar {
  background: linear-gradient(to right, #333, #666);
  border-bottom: 3px solid #00ffcc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: visible;
}

mat-toolbar a {
  color: #00ffcc;
  transition: color 0.3s, transform 0.3s;
  padding: 0 15px;
}

mat-toolbar a:hover {
  color: #ffffff;
  transform: scale(1.1);
}

mat-toolbar button {
  background: #00ffcc;
  color: #333;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, transform 0.3s;
  cursor: pointer;
}

mat-toolbar button:hover {
  background: #00cccc;
  transform: scale(0.95);
}

.app-title {
  margin-right: 30px;
  color: #FFFFFF;
  font-size: 24px;
}

button[mat-button] {
  margin-right: 10px;
}

/* ドロップダウンコンテンツ（デフォルトで非表示） */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* ナビゲーションバーの背景色と同じです */
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* ドロップダウンコンテンツ内のリンクスタイル */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

/* マウスホバー時にドロップダウンリンクの色を変更 */
.dropdown-content a:hover {background-color: rgb(0, 0, 0);}

/* ドロップダウンメニューを表示するトリガー */
.dropdown:hover .dropdown-content {
  display: block;
}
